.container {
  padding: 40px 0px;
}

.navbar {
  justify-content: flex-start;
  padding: auto 100px;
}

.navbar {
  justify-content: flex-start;
  padding: 20px 100px;
}

.navbar-element {
  color: white;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 50px;
  }
};

.cover {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 0;
  left: 0;
}

